<% include partials/header %>

<h1>Landing Page</h1>

<p>Welcome to the Yelp Camp</p>

<form action="/campgrounds">
    <input type="submit" value="View All Campgrounds">
</form>

<% include partials/footer %>